<header class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <span class="navbar-brand">yourconsulting</span>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/persoane" routerLinkActive="active">Persoane</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/masini" routerLinkActive="active">Mașini</a>
      </li>
    </ul>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>
